@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Manrope", "sans-serif";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.nav-bar {
  position: relative;
}

.nav-bar::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: white;
  opacity: 0.2;
  mix-blend-mode: normal;
  bottom: -16%;
}
